@import url('https://fonts.googleapis.com/css2?family=Buenard&display=swap');

/* ============== 
    TYPOGRAPHY
==============*/

p {
  font-family: buenard;
  font-size: 18px;
  line-height: 21px;
  color: #f7f7f7;
}

a {
  text-decoration: none;
}

input {
  font-family: buenard;
  font-size: 16px;
  border-radius: 2px;
  border-color: ghostwhite;
  line-height: 1em;
  width: 400px;
  height: 32px;
}

header {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}

/* ============== 
    GALLERY GRID
==============*/

.container {
  display: grid;
  margin: auto;
  max-width: 1000px;
  grid-row-gap: 4px;
  grid-template-columns: repeat(4, 1fr);
}

